@import "../bower_components/neat/app/assets/stylesheets/neat-helpers";

// Colors
$color1: #a8cb7e;
$color2: #94cd81;
$color3: #84cf88;
$color4: #87d1a1;
$color5: #8ad4ba;

$background-color: #f5f5f5;
$neutral-color: #323944;
$secondary-color: #566b64;


// Breakpoints
$mobile-bp: 700px;
$tablet-bp: 1024px;

$mobile: new-breakpoint(max-width $mobile-bp 12);
$tablet: new-breakpoint(min-width $mobile-bp max-width $tablet-bp 12);
$desktop: new-breakpoint(min-width $tablet-bp 12);

// Grid Settings
$column: 90px;
$gutter: 0px;
$grid-columns: 12;
$max-width: em(1088);
