@import "variables";

@import "../bower_components/bourbon/dist/bourbon";
@import "../bower_components/neat/app/assets/stylesheets/neat";
@import url(http://fonts.googleapis.com/css?family=Bree+Serif);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@import "general";
@import "dashboard";

.call-to-action-btn {
  box-sizing: content-box;
  position: relative;
  display: block;
  background: none;
  border: 3px solid white;
  border-radius: 3px;
  width: 175px;
  height: 40px;
  line-height: 40px;
  padding: 5px;
  color: white;
  margin:0 auto;
  text-decoration: none;
  overflow: hidden;
  @include transition-property(background, color, border-color);
  @include transition-duration(.2s);

  i {
    position: absolute;
    right: -175px;
    @include transition-property(right);
    @include transition-duration(.5s);
  }

  &:hover {
    background: rgba(0,0,0,.1);
    i {
      right: 10px;
    }
  }

  &:active {
    color: rgba(0,0,0,.2);
    border-color: rgba(0,0,0,.2);
    background: rgba(0,0,0,.1);
    i {
      right: 10px;
    }
  }
}

.call-to-action-container {
  position: relative;
  width: 100%;

  &:before {
    content: "";
    background: url("http://thepatternlibrary.com/img/a.jpg");
    background-repeat: repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    -webkit-filter: blur(0px) grayscale(100%);
  }

  &:after {
    content: "";
    background: rgba(0,0,0,.15);
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  .call-to-action-container-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    @include radial-gradient(center, ellipse cover, rgba(168,203,126,0.8) 0%, rgba(148,205,129,0.8) 25%, rgba(132,207,136,0.85) 50%, rgba(135,209,161,0.95) 75%, rgba(138,212,186,1) 100%);
  }

  nav {
    background: none;

    .logo > h1 {
      color: white;
    }
  }

  .call-to-action-content {
    text-align: center;
    position: relative;
    color: white;
    padding: 10px 40px;
    padding-top: 40px;
    padding-bottom: 0px;
    @include box-sizing(border-box);

    @include media($tablet) {
      padding-top: 10px;
    }
    @include media($mobile) {
      padding-top: 10px;
    }

    @include transition-property(padding, font);
    @include transition-duration(.2s);

    h2 {
      font-family: 'Bree Serif', serif;
      margin-bottom: 0;
      font-size: 40px;

      @include media($tablet) {
        font-size: 31px;
      }
      @include media($mobile) {
        font-size: 24px;
      }
    }

    .subheader {
      font-weight: 500;
      font-size: 23px;
      @include media($tablet) {
        font-size: 21px;
      }
      @include media($mobile) {
        font-size: 18px;
      }
    }

    p {
      color: #f5f5f5;
      font-size: 16px;
      margin-top: 45px;
      @include media($mobile) {
        font-size: 14px;
      }
    }

    .forwarding-email {
      color: white;
      font-size: 18px;
      font-weight: bold;
      @include media($mobile) {
        font-size: 16px;
      }
    }
  }

  .call-to-action-footer-label-container {
    position: relative;
    bottom: -175px;

    .call-to-action-footer-label {
      margin: 0 auto;
      width: 250px;
      line-height: 40px;
      height: 40px;
      color: white;
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
      padding: 0 10px;
      text-align: center;

      i {
        font-size: 24px;
      }
    }
  }

  .call-to-action-footer {
    background: #f5f5f5;
    position: relative;
    top: 175px;
    z-index: 2;

    .call-to-action-explanation {
      @include outer-container;
      list-style: none;
      margin: 0;
      padding: 25px 0;
      @include media($mobile) {
          padding: 0 25px;
      }
      li {
        @include transition-property(width);
        @include transition-duration(.2s);
        @include span-columns(4);
        @include media($mobile) {
          @include span-columns(12);
          &:not(:last-child) {
            border-bottom: 1px solid #DDDDDD;
          }
        }

        display: inline-block;
        padding: 25px;
        text-align: center;

        @include media($tablet) {
          &:not(:last-child) {
            border-right: 1px solid #DDDDDD;
          }
        }
        @include media($desktop) {
          &:not(:last-child) {
            border-right: 1px solid #DDDDDD;
          }
        }

        i {
          color: $secondary-color;
          font-size: 70px;
        }

        h4 {
          color: $secondary-color;
          font-size: 24px;
          margin: 5px 0px;
        }

        p {
          width: 70%;
          margin: 20px auto;
          color: lighten($neutral-color, 25%);

        }
      }
    }
  }
}

.dashboard-explanation-container {
  width: 100%;
  background: $neutral-color;
  position: relative;
  top: 175px;

  .dashboard-explanation {
    padding: 5% 10%;
    overflow: hidden;

    img {
      float: left;
      margin-right: 10%;
      width: 45%;
      box-shadow: -10px 10px 0px 5px rgb(153, 153, 153);
      @include media($mobile) {
        width: 100%;
        margin: 10% 0;
        margin-bottom: 50px;
      }
    }

    .text-container {
      float: left;
      width: 45%;
      @include media($mobile) {
        width: 100%;
        margin: 0;
        text-align: center;
      }

      #lower-call {
        margin:0;
        margin-top:20px;
        text-align: center;

        @include media($mobile) {
          margin: 0 auto;
        }
      }

      .dashboard-explanation-header {
        font-weight: 700;
        font-size: 24px;
        color: white;

        @include media($tablet) {
          font-size: 20px;
        }

      }

      .dashboard-explanation-text {
        font-weight: 300;
        font-size: 18px;
        color: lighten($neutral-color, 50%);

        @include media($tablet) {
          font-size: 14px;
        }
      }
    }
  }
}
