<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>Kickback</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/normalize-css/normalize.css">
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:css styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="styles/icons.css">
        <!-- endbuild -->

        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="call-to-action-container">
          <div class="call-to-action-container-overlay"></div>
          <ul class="call-to-action-header">
            <li class="call-to-action-logo">
              <h1>Kickback</h1>
            </li>
          </ul>
          <div class="call-to-action-content">
            <h2>Optimize Your Post Purchase Experience</h2>
            <h3 class="subheader">Automatic reimbursement for price reductions on recent purchases.</h3>
            <p>We can parse your inbox with one click or you can forward your Amazon receipts to <a href="mailto:app@kickback.com" class="forwarding-email">app@kickback.com</a></p>
            <a href="/login" class="call-to-action-btn">Login with GMail<i class="icon-right-open-big"></i></a>
          </div>
          <div class="call-to-action-footer">
          </div>
        </div>

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
